body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#lobby {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: #fff;
}

button:hover {
    background-color: #2980b9;
}

#gameContainer {
    display: none;
    flex-direction: column;
    align-items: center;
}
canvas {
    border: 2px solid #fff;
    background-color: #2c3e50;
}
#roomList {
    margin-top: 20px;
}
#roomList div {
    margin: 3px 0;
}
#roomList div:hover {
    text-decoration: underline;
    cursor: pointer;
}
#player {
    width: 20px;
    height: 20px;
    background-color: #e74c3c;
    position: absolute;
    border-radius: 50%;
}
#otherPlayers div {
    width: 20px;
    height: 20px;
    background-color: #f1c40f;
    position: absolute;
    border-radius: 50%;
}
